.Rproj.user
.Rhistory
.RData
.Ruserdata
/convergence_check2.R
/discounting_model.rds
/final_results.rds
/old_files
/plots
/plots_seminar.R
/results.html
/out
/sim_based_thresholds.rds
/stan_school_example
/test_results.rds
